In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('../Data/Suicide_Detection.csv')
data2 = pd.read_csv('../Data/depression_dataset_reddit_cleaned.csv')
data3 = pd.read_csv('../Data/mental_health.csv')

In [6]:
print(data1.shape)
display(data1.head())

(232074, 3)

   Unnamed: 0                                               text        class
0           2  Ex Wife Threatening SuicideRecently I left my ...      suicide
1           3  Am I weird I don't get affected by compliments...  non-suicide
2           4  Finally 2020 is almost over... So I can never ...  non-suicide
3           8          i need helpjust help me im crying so hard      suicide
4           9  I’m so lostHello, my name is Adam (16) and I’v...      suicide

In [7]:
print(data2.shape)
display(data2.head())

(7731, 2)

                                          clean_text  is_depression
0  we understand that most people who reply immed...              1
1  welcome to r depression s check in post a plac...              1
2  anyone else instead of sleeping more when depr...              1
3  i ve kind of stuffed around a lot in my life d...              1
4  sleep is my greatest and most comforting escap...              1

In [8]:
print(data3.shape)
display(data3.head())

(27977, 2)

                                                text  label
0  dear american teens question dutch person hear...      0
1  nothing look forward lifei dont many reasons k...      1
2  music recommendations im looking expand playli...      0
3  im done trying feel betterthe reason im still ...      1
4  worried  year old girl subject domestic physic...      1

In [9]:
data1['class'].value_counts()

suicide        116037
non-suicide    116037
Name: class, dtype: int64

In [10]:
data2['is_depression'].value_counts()

0    3900
1    3831
Name: is_depression, dtype: int64

In [11]:
data3['label'].value_counts()

0    14139
1    13838
Name: label, dtype: int64

In [16]:
data2.columns = ['text','label']
data3.columns = ['text','label']

In [17]:
data2

                                                   text  label
0     we understand that most people who reply immed...      1
1     welcome to r depression s check in post a plac...      1
2     anyone else instead of sleeping more when depr...      1
3     i ve kind of stuffed around a lot in my life d...      1
4     sleep is my greatest and most comforting escap...      1
...                                                 ...    ...
7726                                       is that snow      0
7727                 moulin rouge mad me cry once again      0
7728  trying to shout but can t find people on the list      0
7729  ughh can t find my red sox hat got ta wear thi...      0
7730  slept wonderfully finally tried swatching for ...      0

[7731 rows x 2 columns]

In [18]:
data3

                                                    text  label
0      dear american teens question dutch person hear...      0
1      nothing look forward lifei dont many reasons k...      1
2      music recommendations im looking expand playli...      0
3      im done trying feel betterthe reason im still ...      1
4      worried  year old girl subject domestic physic...      1
...                                                  ...    ...
27972  posting everyday people stop caring  religion ...      0
27973  okay definetly need hear guys opinion ive pret...      0
27974  cant get dog think ill kill myselfthe last thi...      1
27975  whats point princess bridei really think like ...      1
27976  got nudes person might might know snapchat do ...      0

[27977 rows x 2 columns]

In [19]:
data2['text'][0]

'we understand that most people who reply immediately to an op with an invitation to talk privately mean only to help but this type of response usually lead to either disappointment or disaster it usually work out quite differently here than when you say pm me anytime in a casual social context we have huge admiration and appreciation for the goodwill and good citizenship of so many of you who support others here and flag inappropriate content even more so because we know that so many of you are struggling yourselves we re hard at work behind the scene on more information and resource to make it easier to give and get quality help here this is just a small start our new wiki page explains in detail why it s much better to respond in public comment at least until you ve gotten to know someone it will be maintained at r depression wiki private contact and the full text of the current version is below summary anyone who while acting a a helper invite or accepts private contact i e pm chat or any kind of offsite communication early in the conversion is showing either bad intention or bad judgement either way it s unwise to trust them pm me anytime seems like a kind and generous offer and it might be perfectly well meaning but unless and until a solid rapport ha been established it s just not a wise idea here are some point to consider before you offer or accept an invitation to communicate privately by posting supportive reply publicly you ll help more people than just the op if your response are of good quality you ll educate and inspire other helper the 9 90 rule http en wikipedia org wiki rule internet culture applies here a much a it doe anywhere else on the internet people who are struggling with serious mental health issue often justifiably have a low tolerance for disappointment and a high level of ever changing emotional need unless the helper is able to make a 00 commitment to be there for them in every way for a long a necessary offering a personal inbox a a resource is likely to do more harm than good this is why mental health crisis line responder usually don t give their name and caller aren t allowed to request specific responder it s much healthier and safer for the caller to develop a relationship with the agency a a whole analogously it s much safer and healthier for our ops to develop a relationship with the community a a whole even trained responder are generally not allowed to work high intensity situation alone it s partly about availability but it s mostly about wider perspective and preventing compassion fatigue if a helper get in over their head with someone whose mental health issue including suicidality which is often comorbid with depression escalate in a pm conversation it s much harder for others including the r depression and r suicidewatch moderator to help contrary to common assumption moderator can t see or police pm in our observation over many year the people who say pm me the most are consistently the one with the least understanding of mental health issue and mental health support we all have gap in our knowledge and in our ability to communicate effectively community input mitigates these limitation there s no reason why someone who s truly here to help would want to hide their response from community scrutiny if helper are concerned about their own privacy keep in mind that self disclosure when used supportively is more about the feeling than the detail and that we have no problem here with the use of alt throwaway account and have no restriction on account age or karma we all know the internet is used by some people to exploit or abuse others these people do want to hide their deceptive and manipulative response from everyone except their victim there are many of them who specifically target those who are vulnerable because of mental health issue if a helper invite an op to talk privately and give them a good supportive experience they ve primed that person to be more vulnerable to abuser this sort of cognitive priming tends to be particularly effective when someone s in a state of mental health crisis when people rely more on heuristic than critical reasoning if ops want to talk privately posting on a wide open anonymous forum like reddit might not be the best option although we don t recommend it we do allow ops to request private contact when asking for support if you want to do this please keep your expectation realistic and to have a careful look at the history of anyone who offer to pm before opening up to them'

In [21]:
data3['text'][1]

'nothing look forward lifei dont many reasons keep going feel like nothing keeps going next day makes want hang myself'

In [33]:
Depression_Data = pd.concat([data2,data3])#.reset_index()
Depression_Data

                                                    text  label
0      we understand that most people who reply immed...      1
1      welcome to r depression s check in post a plac...      1
2      anyone else instead of sleeping more when depr...      1
3      i ve kind of stuffed around a lot in my life d...      1
4      sleep is my greatest and most comforting escap...      1
...                                                  ...    ...
27972  posting everyday people stop caring  religion ...      0
27973  okay definetly need hear guys opinion ive pret...      0
27974  cant get dog think ill kill myselfthe last thi...      1
27975  whats point princess bridei really think like ...      1
27976  got nudes person might might know snapchat do ...      0

[35708 rows x 2 columns]

In [34]:
Depression_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35708 entries, 0 to 27976
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    35708 non-null  object
 1   label   35708 non-null  int64
dtypes: int64(1), object(1)
memory usage: 836.9+ KB

In [35]:
Depression_Data['label'] = Depression_Data['label'].apply(lambda x: 'depression' if x == 1 else 'nondepression')

In [36]:
Depression_Data['label'].value_counts()

nondepression    18039
depression       17669
Name: label, dtype: int64

In [37]:
data = Depression_Data['text']
label = Depression_Data['label']

In [39]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data,label, stratify=label, test_size=0.2, random_state=42)

In [45]:
train = pd.DataFrame({'text':x_train,'label':y_train}).reset_index(drop=True).reset_index()
print(train.shape)
display(train.head())

(28566, 3)

   index                                               text          label
0      0  closei start extremely loving family mom great...     depression
1      1  need stop stalking people like ever someone sa...  nondepression
2      2  for year now i ve always thought of suicide a ...     depression
3      3  announcement mad critocola op fucking play sco...  nondepression
4      4  wished voices head stoppedits hard exercise st...     depression

In [47]:
val = pd.DataFrame({'text':x_test,'label':y_test}).reset_index(drop=True).reset_index()
print(val.shape)
display(val.head())

(7142, 3)

   index                                               text          label
0      0  well i caved i cut myself for the first time t...     depression
1      1  know anymoreim  year old male depression mom g...     depression
2      2  yall cute af dont ever believe anyone says oth...  nondepression
3      3  mercygrl oh wow a little chubster you cant inv...  nondepression
4      4  goddamn brainhow possible start creating game ...     depression

In [49]:
train.to_csv('../Data/train.csv',index=False)

In [50]:
val.to_csv('../Data/val.csv',index=False)

In [51]:
pd.read_csv('../Data/val.csv')

      index                                               text          label
0         0  well i caved i cut myself for the first time t...     depression
1         1  know anymoreim  year old male depression mom g...     depression
2         2  yall cute af dont ever believe anyone says oth...  nondepression
3         3  mercygrl oh wow a little chubster you cant inv...  nondepression
4         4  goddamn brainhow possible start creating game ...     depression
...     ...                                                ...            ...
7137   7137  one best films ever seen anyone knock movie be...  nondepression
7138   7138       god hate people treat me people treat better  nondepression
7139   7139  might kill people knownot saying know knows fu...     depression
7140   7140  question guys rteenagers question specifically...  nondepression
7141   7141  found rage novel mentions suicidal thoughtsthe...     depression

[7142 rows x 3 columns]